<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item *ngFor="let item of menuItems" [routerLink]="item.route">
      <mat-icon>{{item.icon}}</mat-icon>
      <span>{{item.title}}</span>
    </a>
  </mat-menu>
  <span>{{title}}</span>
</mat-toolbar>
<div id="content">
  <button mat-raised-button (click)="openModal()">Открыть</button>
  <router-outlet></router-outlet>
  <form [formGroup]="authForm">
    <mat-form-field>
      <input matInput formControlName="login">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="password">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="save()">Сохранить</button>
  </form>
</div>
<app-form-builder-component></app-form-builder-component>
